.page-header
  %h1 Shipr
  %p.lead
    - if @job.done?
      - if @job.success?
        %span.text-success Deployed
      - else
        %span.text-error Error deploying
    - else
      %span.text-info Deploying
    #{@job.branch} to #{@job.repo}

#environment
  %h3 Environment
  %pre
    %code= @job.config.map { |key, val| "#{key}=#{val}" }.join("\n")

#logs
  %h3 Logs
  %pre
    %code{ 'data-stream' => stream_url }= @job.output
